body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

form {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  border-radius: 6px;
}

input, button {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #1e40af;
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


